<md-toolbar color="primary">
    <span>{{ 'APP_TITLE' | translate }}</span>
    <span class="example-spacer"></span>
        <a [routerLink]="'/en'" [routerLinkActive]="['router-link-active']">EN |</a>
        <a [routerLink]="'/de'" [routerLinkActive]="['router-link-active']"> DE </a>
</md-toolbar>
    
<div class="container">
    <div class="row">
        <div class="login">
            <h1> {{ 'HOME' | translate }} </h1>
            <md-card>
                <md-card-title><em>{{ 'LOGIN' | translate }}</em></md-card-title>
                <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
                    <md-input-container>
                        <input type="email" #email="ngModel" name="email" mdInput placeholder="Email" ngModel required>
                    </md-input-container>

                    <md-input-container>
                        <input type="password" #password="ngModel" name="password" mdInput placeholder="Password" ngModel required>
                    </md-input-container>

                    <div align="center">
                        <button md-fab type="submit" [disabled]="!userForm.form.valid" color="primary">
                    <md-icon class="fa fa-sign-in"></md-icon> 
                </button>
                    </div>
                </form>
            </md-card>
        </div>
    </div>
</div>
<router-outlet></router-outlet>