/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.login{
    margin:auto;
    padding-top:225px;
     width:413px;
     height:340px;

}
md-toolbar a {
    padding: 3px;
    background: white;
    color:black;
}